.clock{
    display: flex;
    align-items: center;
    font-size: 132px;
    font-weight: 700;
    .date{
        display: flex;
        align-items: center;
        margin-right: 40px;
        gap: 13px;
        .month,.date,.year{
            display: flex;
            align-items: center;
            background: #00000087;
            padding: 5px;
            border-radius: 5px;
            filter: drop-shadow(0 0 3px #000);
            .digit{
                background-image: url(../img/number-panel.png);
                width: 78px;
                height: 134px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Roboto Condensed';
                span{
                    background: -webkit-linear-gradient(#ffb900, #ffeab1, #ffb800);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    filter: drop-shadow(0 0 3px #000);
                    line-height: 1;
                }
            }
        }
    }
    .panel{
        text-align: center;
        h4{
            margin-top: 10px;
            text-shadow: 0 0 4px BLACK;
            color: #fff;
            font-family: "Roboto Condensed";
            font-weight: 700;
        }
        .hour,.minutes{
            display: flex;
            align-items: center;
            background: #00000087;
            padding: 5px;
            border-radius: 5px;
            filter: drop-shadow(0 0 3px #000);
            .digit{
                background-image: url(../img/number-panel.png);
                width: 78px;
                height: 134px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Roboto Condensed';
                span{
                    background: -webkit-linear-gradient(#ffb900, #ffeab1, #ffb800);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    filter: drop-shadow(0 0 3px #000);
                    line-height: 1;
                }
            }
        }
    }
    .colon{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        p{
            line-height: 1;
            background: -webkit-linear-gradient(#ffb900, #ffeab1, #ffb800);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            filter: drop-shadow(0 0 3px #000);
            position: relative;
            top:-33px
        }
    }
}

.pop-up{
    width: 100%;
    height: 100%;
    background: #000000ce;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    display: none;
    &.show{
        display: block;
    }
    .silver{
        font-family: 'RamseyCondesed';
        font-size: 10.5vw;
        white-space: nowrap;
    }
    .pop-center-parent{
        position: absolute;
        left: 50%;
        bottom: 12%;
        transform: translateX(-50%);
        width: 95%;
        .silver{
            margin-bottom: 100px;
            text-align: center;
        }
        .pop-center{
            height: fit-content;
            background: #000;
            border-radius: 5px;
            background-image: url(../img/main-bg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid #fff8a454;
            font-family: 'RamseyCondesed';
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding:10px;
            line-height: 0;
            h3{
                font-size: 9vw;
                font-weight: 900;
            }
            span{
                font-size: 30px;
                color: #fff;
            }
        }
    }
}