@media (max-width:1692px){
    .clock{
        font-size: 84px;
        .date{
            .month,.date,.year{
                .digit{
                    width: 54px !important;
                    height: 91px !important;
                }
            }
        }
        .panel{
            .hour,.minutes,.seconds{
                .digit{
                    width: 54px !important;
                    height: 91px !important;
                }
            }
        }
        .colon{
            p{
                top: -24px;
            }
        }
    }
}

@media (max-width:1304px){
    .clock{
        font-size: 91px;
        transform: scaleY(1.7);
        .date{
            margin-right: 14px;
            .month,.date,.year{
                .digit{
                    width: 56px !important;
                    height: 88px !important;                         
                }
            }
        }
        .panel{
            .hour,.minutes,.seconds{
                .digit{
                    width: 56px !important;
                    height: 88px !important;                         
                }
            }
        }
        .colon{
            p{
                top: -18px;
            }
        }
    }
    .wrapper-contact{
        .center-content{
            .top-portion{
                img{
                    width: 258px;
                    height: 158px;
                }
            }
        }
    }
}
@media (max-width:1000px){
    .pop-up {
        .pop-center-parent{
            .silver{
                margin-bottom: 25px !important;
            }
        }
    }
    .clock{
        font-size: 73px;
        .date{
            .month,.date,.year{
                .digit{
                    width: 49px !important;
                    height: 80px !important;      
                }
            }
        }
        .panel{
            h4{
                font-size: 15px;
            }
            .hour,.minutes,.seconds{
                .digit{
                    width: 49px !important;
                    height: 80px !important;          
                }
            }
        }
        .colon{
            p{
                top: 0;
            }
        }
    }
    .wrapper-contact{
        .center-content{
            .top-portion{
                img{
                    width: 260px;
                    height: 169px;           
                }
            }
        }
        .corner{
            width: 82px;
        }
    }
}
@media (max-width:800px){
    .wrapper-contact{
        .center-content{
            .top-portion{
                img{
                    width: 83px;
                    height: 55px;    
                }
            }
        }
    }
}