main{
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    height: 100%;
    position: relative;
    .wrapper{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background:linear-gradient(178deg, rgb(74, 0, 0) 0%, rgb(94 0 0) 49%, rgb(91, 0, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .time{
           display: flex;
           align-items: flex-end;
           gap: 56px; 
           h1,.colon{
            font-size: 400px;
            line-height: 0.8;
            height: fit-content;
           }
           .secs{
            font-size: 40px;
            font-weight: 900;
           }
        }
        .date{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 40px;
            font-weight: 500;
            width: 100%;
            font-weight: 900;
        }
        .contact{
            font-size: 112px;
            font-weight: 900;
            bottom: 20px;
            letter-spacing: 15px;
            line-height: 1;
            font-family: 'Poppins';
            margin-top: 40px;
            i{
                margin-right: 20px;
            }
        }
    }
}
.wrapper-contact{
    width: 100%;
    height: 100%;
    background-image: url(../img/main-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'RamseyCondesed';
    .corner{
        position: absolute;
        width: 153px;
        filter: drop-shadow(0px 0px 6px rgb(2, 2, 2));
        &.corner-1{
            top: 10px;
            left: 10px;
        }
        &.corner-2{
            top: 10px;
            right: 10px;
        }
        &.corner-3{
            bottom: 10px;
            right: 10px;
        }
        &.corner-4{
            bottom: 10px;
            left: 10px;
        }
    }
    .center-content{
        width: fit-content;
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        height: 100%;
        justify-content: space-evenly;    
        .top-portion{
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 46px;
            img{
                width: 340px;
                filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.697));
            }
            #clockContainer {
                position: relative;
                height: 200px;
                width: 200px;
                background: url(../img/clock.png) no-repeat;
                /*setting our background image*/
                background-size: 100%;
                filter: drop-shadow(2px 4px 6px black);
                #hour,
                #minute,
                #second {
                    position: absolute;
                    background: -webkit-linear-gradient(#d9b043, #fff0c8, #dab147);
                    border-radius: 10px;
                    transform-origin: bottom;
                    &#hour {
                        width: 1.8%;
                        height: 25%;
                        top: 25%;
                        left: 48.85%;
                        opacity: 0.8;
                    }
                    
                    &#minute {
                        width: 1.6%;
                        height: 30%;
                        top: 19%;
                        left: 48.9%;
                        opacity: 0.8;
                    }
                    
                    &#second {
                        width: 1%;
                        height: 40%;
                        top: 9%;
                        left: 49.25%;
                        opacity: 0.8;
                    }
                }
            }   
        }
        h1{
            padding: 0;
            // margin: 47px 0;
            font-size: 10vw;
            white-space: nowrap;
            width: fit-content;
            font-weight: 900;
            filter: drop-shadow(0 0 3px #000);
            &:last-child{
                font-size: 10vw;
                position: relative;
            }
        }
    }
}
.gold{
    background: -webkit-linear-gradient(#d9b043, #fff0c8, #dab147);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.silver{
    background: -webkit-linear-gradient(#d2d2d2, #ffffff, #858585);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width:1664px){
    section{
        .wrapper{
            .time{
               h1,.colon{
                font-size: 350px;
               }
               .secs{
                font-size: 40px;
               }
            }
            .date{
                font-size: 40px;
            }
            .contact{
                font-size: 106px;
            }
        }
    }
}
@media (max-width:1452px){
    section{
        .wrapper{
            .time{
               h1,.colon{
                font-size: 300px;
               }
               .secs{
                font-size: 40px;
               }
            }
            .date{
                font-size: 40px;
            }
            .contact{
                font-size: 88px;
            }
        }
    }
}
@media (max-width:1272px){
    section{
        .wrapper{
            .time{
               h1,.colon{
                font-size: 250px;
               }
               .secs{
                font-size: 40px;
               }
            }
            .date{
                font-size: 40px;
            }
            .contact{
                font-size: 66px;
            }
        }
    }
    .clock{
        transform: scale(0.7);
        position: relative;
        right: -49px;
    }
    .wrapper-contact{
        .center-content{
            .top-portion{
                img{
                    transform: scale(.8);
                }
            }
        }
    }
}
@media (max-width:1100px){
    section{
        .wrapper{
            .time{
               display: flex;
               align-items: flex-end; 
               gap: 64px;
               h1,.colon{
                font-size: 200px;
                line-height: 1;
               }
               .secs{
                font-size: 61px;
               }
            }
            .date{
                font-size: 30px;
            }
        }
        .contact{
            font-size: 65px;
            white-space: nowrap;
            i{
                margin-right: 20px;
            }
        }
    }
}
@media (max-width:972px){
    section{
        .wrapper{
            .time{
               display: flex;
               align-items: flex-end; 
               gap: 64px;
               h1,.colon{
                font-size: 150px;
                line-height: 1;
               }
               .secs{
                font-size: 61px;
               }
            }
            .date{
                font-size: 30px;
            }
            .contact{
                font-size: 52px;
                white-space: nowrap;
                i{
                    margin-right: 20px;
                }
            }
        }
    }
}
@media (max-width:802px){
    section{
        .wrapper{
            .time{
               display: flex;
               align-items: flex-end; 
               gap: 64px;
               h1,.colon{
                font-size: 129px;
                line-height: 1;
               }
               .secs{
                font-size: 61px;
               }
            }
            .date{
                font-size: 30px;
            }
            .contact{
                font-size: 43px;
                white-space: nowrap;
                i{
                    margin-right: 20px;
                }
            }
        }
    }
}

@media (max-width:720px){
    .clock{
        transform: scale(0.5);
        right: 33px;
    }
    .wrapper-contact{
        .center-content{
            height: 86%;
            .top-portion{
                margin-bottom: 0;
                img{
                    transform: scale(0.6);
                    position: relative;
                    left: 84px;                
                }
            }
        }
    }
}